* {
    margin: 0;
    padding: 0;
}

.box-1{
    /*background-color: slategrey;*/
    background-image: -moz-element();
    padding: 0%;
    border: slategray;
    
}

.Title-block{
    text-align: center; 

}

.Title-block img{
    margin-top: -25px;
    margin-left: -45px;
    float: left;
}

.base-head{
    margin: 10%;
    
}

.main-navbar{
    list-style-type: none;
    
    overflow: hidden;
    text-align: center;
    
}




.button-hjem{
    width: 15%;
    margin-top: 5%;
    font-size: 45px;
    border: hidden;
}

.button-medlemmer{
    width: 15%;
    font-size: 45px;
    border: hidden;
}

.button-om-oss{
    width: 15%;
    font-size: 45px;
    border: hidden;
}

.button-kontakt-oss{
    width: 15%;
    font-size: 45px;
    border: hidden;
}



